h1 {
  margin: 2%;
}

.timeLine-container {
  display: grid;
  grid-template-columns: repeat(2, 30%);
  justify-content: center;
  font-size: 130%;
  text-align: center;
  justify-items: center;
  margin: 4% 0;
}

.timeLine-card {
  margin-top: 90%;
  padding: 6%;
  transition: 0.4s;
}

.timeLine-card h4 {
  transition: 0.4s;
}

.timeLine-card img {
  width: 100%;
}

.even {
  margin-top: 0;
  border-right: 4px dashed teal;
}

.even h4:hover {
  transform: translateX(-20px) !important;
}

.timeLine-card h4:hover {
  transform: translateX(20px);
}

@media (max-width: 728px) {
  .timeLine-container {
    grid-template-columns: repeat(2, 47%);
  }
}
