.footer {
  background: black;
  color: white;
  display: flex;
  justify-content: space-around;
}

.icon-heart {
  color: red;
}

a {
  font-size: 200%;
  text-decoration: none;
  color: white;
  align-self: center;
}

@media (max-width: 728px) {
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2%;
  }
}