/* import the font from google-fonts so that it is added to all pages*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Import icon font */
@import "../fonts/icomoon/style.css";

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: #fdfdfd;
}

.body-dark {
  color: #dbdbdb;
  background: #161616;
}

body::-webkit-scrollbar {
  background: #d1d0d0;
  width: 15px;
}

.body-dark::-webkit-scrollbar {
  background: #2a2a2a;
}

body::-webkit-scrollbar-thumb {
  background: #afaeae;
}

.body-dark::-webkit-scrollbar-thumb {
  background: #3f3f3f;
}

body::-webkit-scrollbar-thumb:hover {
  background: teal;
}

.default-content .dark {
  background: #161616;
}
